body {
    font-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rosybrown;
    font-family: 'Montserrat', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape,nature');
}

.card {
    background: #000000d0;
    color: white;
    padding: 1.2em;
    border-radius: 1em;
    width: 100%;
    max-width: 450px;
    margin: 2em;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 0;
    margin: 1em;
    border-radius: 50%;
    border: none;
    width: 3.2em;
    height: 3.2em;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    border: none;
    border-radius: 1em;
    outline: none;
    padding: 0.5em 1em;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: 80%;
}

button:hover {
    background: #7c7c7c6b;
}

.temperature {
    margin: 0;
    margin-bottom: 0.5em;
}

.description {
    text-transform: capitalize;
    margin-left: 1em;
}

.des {
    display: flex;
    align-items: center;
    justify-content: left;
}

.weather.loading {
    display: none;
}